body {
    color: rgb(16, 0, 34);
    background: rgba(16, 0, 32, 0.916);
    margin: 0px;
    font-family: "Comic Neue", serif;
    margin-bottom: 110px;
}

header {
    border-bottom: solid 3px rgb(46, 255, 199);
    padding: 20px;
    font-size: 35px;
    color: rgb(46, 255, 199);
}

.chamada {
    background: rgb(156, 194, 244);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(246, 255, 0);
}

.categoria h2 {
    color: rgb(27, 212, 229);
}